#side-panel {
   display: flex;
   position: fixed;
   top: 0;
   left: -15%;
   flex-direction: column;
   text-align: center;
   width: 15vw;
   height: 100vh;
   transition: 400ms;
}

#side-panel-show {
   display: flex;
   position: absolute;
   background-color: #faf1ea;
   flex-direction: column;
   height: 100vh;
   width: 15vw;
   box-shadow: 2px 0px 4px 2px #666;
   text-align: center;
   left: 0;
   transition: 400ms;
}

.overflowing {
   overflow-y: scroll;
}

#logo {
   aspect-ratio: 19.5/14;
   width: 90%;
   margin: 4% auto;
}

.labels-box {
   display: flex;
   flex-direction: column;
}

.rotate-right {
   transition: 500ms;
   transform: rotate(180deg);
   animation-direction: alternate;
}

.rotate-left {
   transition: 500ms;
   transform: rotate(-180deg);
}

.arrow-box {
   display: flex;
   position: absolute;
   flex-flow: row-reverse;
   padding: 0.5rem;
   top: 1rem;
   left: 0;
   font-size: 1.5rem;
}

.arrow-box-hidden {
   display: none;
}
