[Unit]
Description=Epiphany web server
Documentation=https://github.com/thaag7734/epiphany
Wants=network-online.target nginx.service
After=network.target network-online.target nginx.service

[Service]
User=epiphany
Type=simple
RootDirectory=/home/epiphany/epiphany/backend/
ExecStart=gunicorn app:app
