[Unit]
Description=Epiphany web server
Documentation=https://github.com/thaag7734/epiphany
Wants=network-online.target nginx.service
After=network.target network-online.target nginx.service

[Service]
User=epiphany
Type=simple
WorkingDirectory=/home/epiphany/epiphany/backend/
ExecStart=/home/epiphany/epiphany/.venv/bin/python -m gunicorn app:app
Restart=always

[Install]
WantedBy=multi-user.target
