.teams-modal {
	display: flex;
	flex-direction: column;
	align-items: center;

	> h1 {
		text-align: center;
	}

	> .add-user-team {
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		> .add-user {
			width: 100%;
			border-radius: 0.5rem;
			border: none;
			padding: 0.3rem;
			font-weight: 500;
		}

		> input[type="text"] {
			width: max(70%, 19rem);
			border: none;
			border-radius: 10px;
			font-size: 1rem;
		}
	}

	> ul {
		list-style: none;
		border-radius: 10px;
		width: 70%;
		display: flex;
		flex-direction: column;
		padding: 0;
		overflow: hidden;

		> li {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			text-align: left;
			padding: 5px 10px;
			background-color: #0b584f;
			color: #bce7d7;
			border-bottom: 1px solid #bce7d7;

			&:nth-child(odd) {
				background-color: #79aaa4;
				color: #0b584f;
			}

			&:last-child {
				border: none;
			}

			> .delete-team-member {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background-color: #f37269;
				color: #fff;
				border: none;
				padding: 10px;
				border-radius: 4px;
				font-size: 16px;
				cursor: pointer;
				transition: background-color 0.2s ease-in-out;
				margin-right: 20px;
			}

			> .delete-team-member:hover {
				background-color: #e53935;
			}
		}
	}

	> .delete-btn {
		align-self: flex-end;
	}
}
