#side-panel {
   display: flex;
   flex-direction: column;
}

.overflowing {
   overflow-y: scroll;
}

#logo {
   aspect-ratio: 3/2;
   margin: auto;
}

.labels-box {
   display: flex;
   flex-direction: column;
}
