.board-card {
    background-color: #222;
    color: #fff;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 16px;
    height: 140px;
    min-width: 300px; /*^ MEDIA QUERY NEEDED !!! */
    max-width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.board-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
  
.board-name {
    font-size: 18px;
    font-family: "Sour Gummy", sans-serif;
    font-weight: bold;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
  
.board-labels-list {
    display: flex;
    gap: 6px;
    margin-top: 8px;
    margin-bottom: 1px;
    list-style: none;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 4px 0;
}

.board-labels-list::-webkit-scrollbar {
    height: 4px;
}

.board-labels-list::-webkit-scrollbar-thumb {
    background-color: #adaaaa;
    border-radius: 15px;
}
  
.board-label-pill {
    font-size: 10px;
    padding: 4px 8px;
    border: 1px solid #555;
    border-radius: 12px;
    color: white;
    background-color: transparent;
    white-space: nowrap;
}