html, body {
   overflow: auto;
   height: 100%;
}

body {
   margin: 0px;
   box-sizing: border-box;
   scrollbar-width: thin;
   background-color: #bce7d7;
   font-family: "Sour Gummy", sans-serif;
}

input, textarea {
   font-family: "Sour Gummy", sans-serif;
}



