.note-modal {
  >input {
    background-color: inherit;
    border: none;
  }
}

.note-modal form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.note-modal input[type="text"],
.note-modal textarea {
  width: 99%;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.note-modal textarea {
  resize: none;
  height: 90px;
}

.note-modal textarea::-webkit-scrollbar {
  width: 4px;
}

.note-modal textarea::-webkit-scrollbar-thumb {
  background-color: #79aaa4;
  border-radius: 15px;
}

.priority-btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.priority-btns p {
  font-weight: bold;
  justify-content: space-between;
}

.priority-btns label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.note-modal button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #80c782;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.note-modal button:hover {
  background-color: #45a049;
}

.delete-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f37269;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete-btn:hover {
  background-color: #e53935;
}
